$fucsia: #ff2080;
$turquesa: #06ACCC;
$amarillo: #FFEB3A;
$dark-fucsia: #b2054f;
$dark-turquesa: #09879f;

// Body
$body-bg: #fff;
// Body


// Typography
$font-family-sans-serif: 'Niramit',sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
